recommended combinations: <span id="mood"></span>
<div id="combinations"></div>
<script>
    let moodSpan = document.getElementById('mood');
    let combinationsDiv = document.getElementById('combinations')
    let searchParams = new URLSearchParams(location.search);
    let mood = searchParams.get('mood');
    moodSpan.textContent = mood;

    async function loadData() {
        let res = await fetch('/recommend-combinations?mood=' + mood);
        let json = await res.json();
        console.log('the json:', json);
        for (let combination of json.combinations) {
            let div = document.createElement('div')
            div.innerHTML = `
        id: ${combination.id} <br>
        name: ${combination.name} <br>
        cover: <img src="${combination.image}"> <br>
        `
            combinationsDiv.appendChild(div)
        }
    }

    loadData();
</script>
